.distanation-wrapper{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.distanation-wrapper h1{
    padding: 1rem;
}
.distanation-wrapper .distanation-image-container{
    --gap:1rem;
    --num-cols:6;
    --row-height:300px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
    margin: auto;
    padding: 1rem 0 ;
}

.distanation-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.span-3{
    grid-column: span 3;
}

.image-grid-row-2{
    grid-row: span 2;
}


@media screen and (max-width: 940px){
.distanation-wrapper .distanation-image-container{
    --num-cols: 2;
    --row-height: 200px;
    --gap:.5rem;
}
.span-3{
    grid-column: span 2;
}
}