.hero-wrapper{
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

.overLay{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-wrapper .content{
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 1rem;    
}


.form {
    display: flex;
    background: white;
    color:black;
    justify-content: space-between;
    align-items: center;
    border:  1px solid #ccc;
    border-radius: 8px;
    max-width:700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type="text"]{
    background: transparent;
    border: transparent;
    width: 400px;
    font-size:1.2rem;
    font-family:  "Poppings", sans-serif;
    padding: 0.8rem;
}

.form input[type="text"]:focus{
        outline: none;
}

@media screen and (max-width: 940px){
    .form input[type="text"]{
        max-width: 275px;
        width: 100%;
    }

    
}