.carousel{
    padding:2rem 0;
}

.carousel img{
    height: 90vh;
    width: 100%;
    max-width: 1000px;
    object-fit: contain;

}

.thumbs-wrapper {
    display: none;
}

.carousel-status{
    display: none;
}

.control-arrow{
    background-color: teal!important;
    height: fit-content;
    top: 50%!important;
 
}

