.selectImg-location img{
    height: 100%;
    width: 100%;

}

.selectImg-location{
    position: relative;
}

.selectImg-location .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.selectImg-location  p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}