.navbar-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
    position: absolute;
    color:  white;

}
/* .navbar-bg{
    background-color: #f5f5f5
} */
.nav-menu{
    display: flex;
    cursor: pointer;
}
.nav-menu li{
    padding : 0 1rem;
}
.hamburger{
    display:none;
}
.nav-icons{
    display:flex;
    gap:10px;
}
.mobile-menu{
    display:none;
}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
}
@media screen and (max-width: 940px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: whitesmoke;
        position: absolute;
        top:  -100vh;
        left: 0;
        justify-content: space-between;
        /* align-items: center; */
        transition: 0.3s;
        color: black
    }
    .dark{
        color: #000;
    }
    .active{
        top: 40px;
    }   

    .mobile-menu li{
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 1px solid #ccc;
    }
    .mobile-nav{
        margin:1rem 0;
    
    }
    .social-icons{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }
    .social-icons .icon:hover{
        transform: scale(1.5);
        transition: 0.3s;   
    }
    .mobile-menu-button button{
        margin: 1rem;
        width: 90%;
    }

    .nav-menu{
        display: none;
    }
    .nav-icons{
    display: none;
        
    }
    .hamburger{
        display: block;
    }
}