.footer-wrapper{
    width: 100%;
    padding: 2rem 0;
    background: #333;
    color: white;

}

.container h3{
    color: var(--primary-light);
}

.footer-wrapper .top, .bottom{
    display: flex;
    width: 100%;justify-content: space-between;
    align-items: center;
}

.footer-wrapper .socials{
    display: flex;
    width: 100%;
    max-width: 200px;
    justify-content: space-between;
    
}
.footer-wrapper .socials .icon{
    color: var(--primary-light);
}

.footer-wrapper .left, .right{
    display: flex;
    align-items: center;
}

.footer-wrapper ul{
    display: flex;
    gap: 2rem;
}

.footer-wrapper ul li{
    padding: .5rem;
}

@media screen and (max-width: 1140px) {
    .footer-wrapper ul{
        flex-direction: column;
    
    }
}