.search-wrapper{
    width: 100%;
    padding: 3rem 0;
}

.search-wrapper .container{
    display: grid;
    grid-template-columns:  2fr 1fr ;
    grid-gap: 1rem;
    padding: 0 1rem;
}

.search-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    
}
.box{
    display: flex;
    flex-direction: row;
}
.right{
    display: flex;
    flex-direction: column;
}

.promo{
    width: 100%;
    margin: .4rem 0;
    margin-bottom: 4rem;
    border:  1px solid #333;
    text-align: center;
}

.promo h4{
    font-size: 1.6rem;
    color: var(--primary-dark);
}

.promo .timer {
    padding: 1rem 0;
    font-size:  1.2rem;
}

.promo .offers {
    background: #333;
    color: whitesmoke;
}

.right > form{
    display: flex;
    flex-direction: column;
}

.input-wrap{
    margin:  .4rem;
    display: flex;
    flex-direction: column;
}

 input, select{
    font-size: 1rem;
    font-family:'Poppins' sans-serif ;
    outline:none;
}

.right .date{
    display: flex;

}


@media screen and (max-width: 940px){
    .search-wrapper .container{
        grid-template-columns: 1fr;
    }

    .search-wrapper .right{
        max-width: 100%;
    }

}

@media screen and (max-width: 540px){
    .search-col-2{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .box{
        flex-direction: column;
    }
}