/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,500&family=Lora:ital,wght@1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Rubik:wght@400;500;700&family=Varela&family=Varela+Round&display=swap');


:root{
  --primary-dark: #5651e6;
  --primary-light: #709dff;
}

/* RESEST STLYES */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Poppins", "sans-serif"
}
ul{
  list-style: none;

}
a{
  text-decoration: none;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
}


.container{
  max-width: 1240px;
  width: 100%;
  /* background: green; */
  margin: auto;
  padding: 1 1rem;

}

button{
  background-image:  linear-gradient(45deg, var(--primary-dark) 0%, var(--primary-light));
  border: 1px solid var(--primary-dark);
  color: #fff;
  padding: .7rem 1.5rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  outline: none;
  border:none;
  border-radius: 6px;


}

/* MEDIA QUERY  */

@media screen and (max-width: 940px){
    h1{
      font-size: 2.5rem;
    }

    h2{
      font-size: 2rem;
    }
}




